.body {
     width: 95%;
    height: 80%;
    background-color: #0ddfd9;
    opacity: 8%;
    border: 1px solid black;
    position: fixed;
    top: 15%;
    left: 2%;
    box-shadow: 10px 10px 10px 10px;
    overflow: hidden;

   }
.background{
  /* min-width:1140px; */

  background-color: #addde7;
   padding: 0;
  opacity: 60%;
  filter: blur(3000%);
  position: fixed;
  top: 7.5%;
  width: 100% !important;
  height: 100%;
  clip-path: polygon(50% 0%, 100% 0, 100% 43%, 82% 76%, 49% 36%, 26% 72%, 15% 37%, 0 18%, 0 0);
}
