.pie_chart{
    height: 40%;
    border-color: black;
}

.main_grid{
    
    /* position: fixed; */
    /* top: 16vh;
    left: 6vh; */
    margin-top: 5%;
    margin-left: 2%;
    padding: 2% 2% 2% 2%;
    overflow: hidden;
}
.submit_button{
    width: 60%;
    margin-top: 2% !important;
    background-color: #67CDE9 !important;
    margin-left: 32% !important;
    color: #2976a4 !important;
    border-radius: 10px !important ;
    color: black !important;
}
.slider{
    margin-top: 2%;
    width: 60%;
    margin-left: 20%;
}
.table_div{
    height: 1;
}
.table_parent{
    height: 30%;
    width: 100%;
}
h7{
    margin-top: 2%;
    color: grey;
    font-weight: 900;
}