.navbar_container{
  width: 100%;
  height: 73px;
  color: white;
  background-color: #3f658a;
  position: inherit;
}

.steps_container{
  width: 15%;
  position: fixed;
  left: 40%;
}
.each_step{

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #c9fefb;
  height: auto;
  color: black;
  border-radius: 10px;
}
.each_step_selected{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  /* padding: 5px; */
  background-color: #0ddfd9;
  height: auto;
  color: black;
  border-radius: 10px;
}
.user_slider{
  width: 200px;
  height: 20px;
  color: blue;
  align-self: auto;
  position:fixed;
   right:10px;

}
.arrow_img{
  padding-left: 10%;
  width: 14px;
  height: 14px;
}
.arrow_img{
  padding-left: 10% im !important;
}